.bc-player-default_default.vjs-mouse .vjs-big-play-button{
	left: 46%;
    top: 40%;
    border-radius: 100%;
    width: 100px;
    height: 100px;
}
.bc-player-default_default .vjs-big-play-button:before {
    content: '\e001';
    color: #fff;
    display: block;
    font-family: VideoJS;
    font-size: 60px;
    line-height: 27px;
    margin: 35px auto;
    opacity: .8;
    text-align: center;
    width: 45px;
}
.container-bc-player {
    height:100%;
}
.container-bc-player .bc-player-video{
	width: 100%;
	height: 640px;
}
#overlay {
  position: absolute; 
  top: 0; 
  left: 0;
  right: 0;
  height: 100%;
  color: #FFF; 
  text-align: center;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  padding: 10px 0;
  z-index: 2147483647;
}
.overlay_content_vjs{
	position: absolute;
    width: 100%;
    bottom: 0;
}
.overlay_content_vjs .caption-title{
	text-align: left;
}
.continue-link{
	font-size: 13px;
	color: #888;
}
.continue-link:hover{
	text-decoration: underline;
	color: #444;
}
.close-modal.close-frame{
	position: absolute;
    top: 2%;
    right: 9%;
    padding: 1px 9px;
}