nav#kineria_nav{
	background: #fff;
}
nav#kineria_nav ul.menu-top{
	margin: 0 15%;
}
nav#kineria_nav ul.menu-top li{
	height: 65px;
	margin: 0 2%;
}
nav#kineria_nav ul.menu-top li a:hover{
	background-color: transparent;
}
nav#kineria_nav ul.menu-top li:not(.active) a:hover{
	border-bottom: 4px solid #567B7D;
	color: #888;
}
nav#kineria_nav ul.menu-top li.active {
    border-bottom: 4px solid #567B7D;
    background-color: transparent;
}
nav#kineria_nav ul.menu-top li.active a {
	color: #888;
}
nav#kineria_nav ul.menu-top li.search{
	position: relative;
	width: 17%;
}
nav#kineria_nav ul.menu-top li.search input.search-menu{
	padding: 0 15px 0 40px;
    border: 1px solid #ddd;
    border-radius: 50px;
    color: #888;
    box-shadow: none;
    background: #EAEAEA;
    height: 35px;
}
    
nav#kineria_nav ul.menu-top li.search i {
	color: #888;
    position: absolute;
    top: 0;
    left: 17px;
    font-size: 18px;
}
nav#kineria_nav ul.menu-top a{
	text-transform: uppercase;
	font-weight: bold;
	color: #ccc;
	height: 100%;
  letter-spacing: 1px;
}
nav#kineria_nav a.brand-logo img.logo-img{
	margin: 14px;
}

nav#kineria_nav i.icon-menu-mobile {
    font-size: 1.7rem;
    height: 56px;
    line-height: 56px;
    color: #888;
}
nav#search-field-form{
	left: 0;
	z-index: 10;
	top: 56px;
	background-color: #547a7b;
}
nav#search-field-form i{
	font-size: 1.3rem;
	
}
.input-field input[type=search]:focus {
    
    border: 0;
    box-shadow: none;
    color: #444;
    height: 56px;
    width: 100%;
   
}

nav#search-field-form .input-field input {
	width: calc(100% - 4rem);
    min-height: 56px;
}

i{
    color: #888;
}
.close-trigger-search{
    display: block !important;
    position: absolute;
    top: 0;
    right: 12px;
    font-size: 20px;
    color: #ddd;
    cursor: pointer;
}
nav#kineria_nav ul.menu-top li.sign-in a {
    font-size: 16px;
    text-align: right;
    right: 0;
    /*position: relative;
    left: 55px;*/
    position: absolute;
    left: 0;
    letter-spacing: 1px;
    color: #777;
}

.overlay-mask{
	position: absolute;
    background: rgb(0,0,0);
    opacity: 0.7;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay-mask.koleksi-overlay{
    background: #547a7b;
}

.close-modal{
    
    padding: 6px 10px;
    border-radius: 50%;
    color: #888;
}

.close-modal:hover{
    background: #ddd;
    color: #323232;
}
.modal-header{
    position: relative;
    float: right;
    margin: 10px;
    width: 100%;
    text-align: right;
}
.borad8{
    border-radius: 8px;
}
label.no-left{
    left: 0;
}
.no-border{
    border:none !important;
}

input.form-login-input{
    border: 1px solid #9e9e9e;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 35px;
}

.no-marg-bottom{
    margin-bottom: 0;
}

.no-marg-bottom-i{
    margin-bottom: 0 !important;
}

.content-modal{
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.parallax-container {
      height: 300px;
 }
.text-heading{
    position: relative;
    z-index: 10;
    color: #fff;
    text-align: center;
}
.text-heading h2{
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 700;
    margin: 8% 0 3%;
    text-transform: uppercase;
}

.btn-radius{
    border: 2px solid #fff;
    padding: 7px 14px;
    color: #fff;
    letter-spacing: 2px;
    border-radius: 50px;
}

ul.inline-list-collection li{
    display: inline-block;
    margin: 3% 1.1%;
    position: relative;
}
ul.inline-list-collection li img{
  width: 200px;
  height: 300px;
  object-fit: cover;
  min-height: 300px;
}
.badge-content{
    background: #B10000;
    padding: 2px 10px;
    border-radius: 50px;
    font-size: 13px;
    color: #fff;
    position: absolute;
    right: -18px;
    top: 5%;
    z-index: 20;
}
.forgot-account{
    color: #26a69a;
    font-size: 13px;
    font-weight: 300;
}
a.link-text-form{
    color: #26a69a;
}
.login-wrapper{
    border-left: 1px solid #ddd;
}
.padd55-left{
    padding-left:55px; 
}
.modal-content.login-popup-modal{
    padding: 75px 75px 10px;
}
.marg-top-20{
    margin-top: 20px;
}

.default-link-text{
    font-size: 13px;
    font-weight: 300;
    color: #26a69a;
}

.logo-wrapper-popup{
    padding: 70px 0;
}
.btn.btn-cta{
	background: none;
    border: 2px solid #fff;
    border-radius: 50px;
    padding: 0px 20px;
}
.btn.btn-cta:hover{
	background-color: #547a7b;
	color: #fff;
}

.gallery-view-home{
    margin: 20px;
    border-bottom: 1px solid #979797;
    padding-bottom: 20px;
}

.gallery-view-home.last{
    border: none;
}

.slider .indicators {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 78px;
    margin: 0;
    z-index: 10;
}
.slick-prev:before, .slick-next:before {
    color: #ddd;
}

.slick-list {

    margin: 0 28px;

}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    margin: 6px;

}
.slick-slide img {
    display: block;
    width: 100%;
    max-height: 300px;
    height: 300px;
    object-fit: cover;
}
.loading{
    position: relative;
    bottom: 70px;
}
#loading{
    text-align: center;
}

.video-layer{
    position: relative;
    border: 60px solid #000;
    height: 500px;
}
.video-layer img.cinema{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.menu-video .tabs{
    margin: 6px auto;
    background: #000;
    width: 40% !important;
}
.menu-video .tabs a{
    color: #A9A9A9;
    font-weight: 700;
}
.menu-video .tabs a.active{
    color: #567B7D;
}
.menu-video .tabs a:hover{
    color: #567B7D;
}
.menu-video .tabs .indicator{
    background: #567B7D;
    height: 4px;
    width: 100px;
    margin: 0 auto;
}
.movie-align{
    margin-top: 50px;
}
.justify{
    text-align: justify;
}
.crew-table .row{
    margin-bottom: 5px;
}
.crew-table h6{
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700;
    margin-bottom: 20px;
}
.crew-table span.actors{
    text-align: right;
    font-weight: 700;
    display: inline-block;
    width: 200px;
    font-size: 14px;
}
.crew-table span.realname{
    text-align: left;
    margin-left: 20px;
    display: inline-block;
    width: 200px;
    font-size: 14px;
}

.commentar-wrapper textarea.comments {
    position: relative;
    background: #fff;
    border: none;
    padding: 10px 15px 0;
    width: 96%;
    min-height: 0;
    border-radius: 10px;
    height: 25px;
}


textarea.materialize-textarea.comments:focus:not([readonly]){
    border:none;
    box-shadow: none
}

.m-bot20{
    margin-bottom: 20px;
}
.arrow_box p{
    padding: 10px;
    font-size: 13px;
}
.arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    margin-bottom: 5px;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    left: 6%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 16px;
    margin-left: -30px;
}
.arrow_box:before {
    border-color: rgba(158, 158, 158, 0);
    border-bottom-color: #9e9e9e;
    border-width: 17px;
    margin-left: -31px;
}
.comments-result .comment-user{
    margin-bottom: 20px;
}
.comments-result .comment-user.replied{
    padding-left: 40px;
}
#reply_comment{
    margin-top: 15px;
}
.l-text{
    position: absolute;
    width: 80%;
    top: 15%;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.l-text h5{
    font-weight: bold;
    font-size: 2rem;
}
.l-text i.active{
    color: #4BA6A0;
}
.control-age{
    border: 1px solid;
    padding: 5px 5px;
    margin: 0 20px;
    font-size: 12px;
}
.l-text p{
    width: 36%;
    text-transform: none;
    font-size: 13px;
}
.l-text p a.with-decor{
    color: #fff;
    text-decoration: underline;
}
.l-text p a{
    color: #fff;
}
.l-text p a:hover{
    color: #4BA6A0;
}
.adding-package{
    border: 1px solid #fff;
    padding: 2px 6px;
    border-radius: 100%;
    text-align: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    display: inline-block;
}

.link-package:hover i, .link-package:hover{
    color: #4BA6A0;
}
.adding-package i{
    color: #fff;
}
.link-package{
    color: #fff;
}
.link-package:hover .adding-package{
     border-color:#4BA6A0;
}
.r-text{
    position: absolute;
    width: 20%;
    right: 10%;
    top: 40%;
}
.r-text i{
     color: #C3C3C3;

}
.r-text:hover a i{
    color: #547a7b;
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    max-height: 380px;
}
.slick-prev:hover, .slick-next:hover{
    border-color:#567B7D;
}

.slick-prev:hover:before, .slick-next:hover:before{
    color: #567B7D
}
.jumbotron-header{
    background: #f6f6f6;
    margin-top: -15px;
    padding: 60px 60px 20px;
    border-bottom: 2px solid #ddd;
}
.jumbotron-header-service{
    background: #f6f6f6;
    margin-top: -15px;
    padding: 60px 60px 20px;
    border: 1px solid #ddd;
}
.jumbotron-header h4{
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    margin-bottom: 35px;
    font-size: 24px;
    color: #474747;
    letter-spacing: 1px;
  }

.jumbotron-header p.info-support{
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color: #777;
}
.jumbotron-header p.info-support a{
    color: #5a9893;
    font-weight: 700;
}

.jumbotron-header p.info-support a:hover{
  text-decoration: underline;
}

.call-center .center-support{
    width: 60%;
    margin: 0 auto;
    color: #777777;
    font-size: 18px;
    letter-spacing: 1px;
}
.support-center{
    color: #777777;
    font-size: 18px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
.support-center.active{
    color: #5a9893;
}
.btn-support{
    color: #636363;
    border: 1px solid #636363;
    padding: 8px 15px;
    border-radius: 50px;
}
.btn-support:hover{
  cursor: pointer;
  color: #5a9893;
  border: 1px solid #5a9893;
}
.btn-support.active{
    color: #5a9893;
    border: 1px solid #5a9893;
}

.digital-contract{
  text-align: center;
  color: #777;
  margin-top: 30px;
  letter-spacing: 1px;
}
.digital-contract a{
   color: #5a9893;
   font-weight: 700;
}

.digital-contract a:hover{
  text-decoration: underline;
}

.contact-detail p{
  color: #777;
  font-size: 14px;
  letter-spacing: 1px;
}
.row .contact-support{
  padding: 20px 50px;
}

.jumbotron-specific{
    padding: 60px 60px 20px;
    border-bottom: 2px solid #ddd;
    color: #777;
}
.text-area-form{
    min-height: 200px;
    border-color: #949494;
    padding-left: 10px;
}

.row .col.linear{
    text-align: center;
    border-left: 2px solid #ddd;
    padding: 0;
    height: 175px;
    position: relative;
    left: 90px;
    top: 0;
}
.separator{
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    font-size: 12px;
    position: absolute;
    padding: 7px 2px;
    right: 88%;
    top: 40%;
    z-index: 10;
    background: #fff;
}
.message-info{
    padding: 60px 0px;
    text-align: center;
}
.login-text{
  color: #587877;
  font-weight: 700
}
nav#kineria_nav ul.menu-top li.sign-in a.login-text{
  color: #587877;
}
nav#kineria_nav ul.menu-top li.sign-in a.login-text:hover{
  border: none;
}
.jumbotron-specific h6{
    font-weight: 700;
    color: #777;
    letter-spacing: 1px;
}

.btn.choose-file-upload{
  background: transparent;
  border: 1px solid #5a9893;
  color: #5a9893;
}

input.form-contact{
    border: 1px solid #949494;
    padding-left: 10px;
}
.ic_avatar{
    background: #ddd;
    float: right;
    margin-top: 17px;
    margin-left: 10px;
}
#testimonial .slick-dots li button{
  font-size: 100px;
}
#testimonial .slick-dots li button:before{
  content: "\f111";
  font-size: 100px;
  font: normal normal normal 14px/1 FontAwesome;
}
#testimonial .slick-dots {
    position: relative;
    bottom: 0;
}
#testimonial .arrow_box:after, #testimonial .arrow_box:before {
    bottom: 0;
    left: 9%;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    transform: rotate(180deg);
    top: 100%;
}
#testimonial .arrow_box {
    position: relative;
    background: #fff;
    border: 1px solid #9e9e9e;
    border-radius: 10px;
    margin-bottom: 18px;
}
#testimonial .slick-slide img {
    display: inline-block;
    width: 35px;
    max-height: 35px;
    height: 35px;
    object-fit: contain;
    margin-right: 10px;
}
.inblock{
  display: inline-block;
}
.user-testimonial{
  margin-left: 20px;
}
#SlideHeader h6{
  font-weight: 700;
  color: #777;
  letter-spacing: 1px;
}
#SlideHeader p{
  color: #777;
  font-size: 13px;
  letter-spacing: 1px;
}
#BlogLetter h6{
  color: #ccc;
  text-transform: uppercase;
}
#BlogLetter .blog-list .title h6{
    color: #474747;
    min-height: 32px;
    line-height: 1.4;
}

.subscriber-form{
    border: 1px solid #5a9893;
    height: 2.2rem;
    border-radius: 50px;
}
.subscriber-form.active-form{
  box-shadow: 1px 1px 5px #5a9893;
}
ul.user-option{
  max-width: 200px;
  padding: 0 20px;
}
ul.user-option li{
  display: block;
  float: left;
  width: 100%;
  padding: 0;
  border-bottom: 1px solid #fff;
  height: 67px;
}

ul.user-option li span {
    width: 55%;
    float: left;
    letter-spacing: 1px;
}
ul.user-option li a:hover {
  color:#4ba6a0;
  background: none;
}
ul.user-option li a{
  width: 100%;
  padding: 0;
  
}
/*ul.user-option li a img{
  position: relative;
  top: 10px;
  width: 40px;
  margin-right: 10px;
}*/

ul.user-option li:hover .watchlist-icon{
  background: url("../img/assets/Symbols/watch-active.png");
  background-repeat: no-repeat;
}
ul.user-option li:hover .payment-icon{
  background: url("../img/assets/Symbols/payment-active.png");
  background-repeat: no-repeat;
}
ul.user-option li:hover .logout-icon{
  background: url("../img/assets/Symbols/power-active.png");
  background-repeat: no-repeat;
}
ul.user-option li:hover .profile-icon{
  background: url("../img/assets/Symbols/profile-active.png");
  background-repeat: no-repeat;
}
ul.user-option li:hover span{
  color:#4ba6a0;
}
.watchlist-icon{
  background: url("../img/assets/Symbols/watch-inactive.png");
  position: relative;
  height: 40px;
  background-repeat: no-repeat;
  width: 34%;
  float: left;
  margin-top: 15px;
  margin-right: 10px;
  cursor: pointer;
}
.payment-icon{
  background: url("../img/assets/Symbols/payment-inactive.png");
  position: relative;
  height: 50px;
  background-repeat: no-repeat;
  width: 36%;
  float: left;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}
.logout-icon{
  background: url("../img/assets/Symbols/power-inactive.png");
  position: relative;
  height: 50px;
  background-repeat: no-repeat;
  width: 36%;
  float: left;
  margin-top: 7px;
  margin-right: 10px;
  cursor: pointer;
}
.profile-icon{
  background: url("../img/assets/Symbols/profile-inactive.png");
  position: relative;
  height: 50px;
  background-repeat: no-repeat;
  width: 36%;
  float: left;
  margin-top: 7px;
  margin-right: 10px;
  cursor: pointer;
}

.arrow_box_user {
  position: relative;
  background: #3c5456;
  height: auto;
  min-height: 265px;
  border-radius: 5px;
  
}
.collection-header{
  background: #717171;
  color: #fff;
  margin-top: -15px;
  padding: 70px 70px 30px;
  text-align: center;
  letter-spacing: 1px;
}
.collection-header-profile{
  background: #ececec;
  margin-top: -15px;
  padding: 70px 70px 30px;
  text-align: center;
  letter-spacing: 1px;
}
.collection-header h5{
  font-size: 1.2rem;
}
.hover-img{
  position: relative;
}
.hover-img:hover .hover-mask{
    display: block !important;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
}
.hover-mask .video-play{
    text-align: center;
    height: 260px;
    position: relative;
    z-index: 10;
}
.hover-mask .video-play a{
    font-size: 4rem;
    line-height: 5;
}
.hover-mask .video-play a i:hover{
  color: #5a9893;
}
span.genre-film{
  text-align: center;
  border: 1px solid #aaa;
  color: #aaa;
  padding: 3px 10px;
  letter-spacing: 1px;
}
.hover-mask span.genre-film{
    color: #fff;
    float: left;
    width: 72%;
    font-size: 13px;
    line-height: 1.1;
    margin: 0 8px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
}

.add-to-watchlist{
    border: 1px solid #aaa;
    padding: 5px 6px;
    border-radius: 3px;
    color: #aaa;
    font-size: 13px;
    width: 100%;
    letter-spacing: 1px;
}
.add-to-watchlist:hover{
  color: #4BA6A0;
  border-color:#4BA6A0;
}
ul#dropdown-submenu.dropdown-content li>a, ul#dropdown-submenu.dropdown-content li>span{
  line-height: 38px;
}
#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left:40%;  
}
.play-video-center{
  position: absolute;
  top: 40%;
  left: 50%;
}
.container_addlist{
  background: #000;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.container_addlist .title-addlist{
  border-bottom: 2px solid #424242;
  margin-bottom: 10px;
}
.container_addlist .title-addlist h6{
  text-transform: uppercase;
  color:#50a28b;
  letter-spacing: 1px;
}
p.info-watchlist{
  color: #ccc;
  letter-spacing: 1px;
}
.arrow_box_user:after, .arrow_box_user:before {
  bottom: 100%;
  left: 97%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrow_box_user:after {
  border-color: rgba(60, 84, 86, 0);
  border-bottom-color: #3c5456;
  border-width:11px;
  margin-left: -30px;
}
.arrow_box_user:before {
  border-color: rgba(60, 84, 86, 0);
  border-bottom-color: #3c5456;
  border-width: 20px;
  margin-left: -45px;
}
.container-menu-user{
  position: absolute;
  display: none;
  right: 0;
  top: 84px;

}
nav#kineria_nav ul.menu-top li.sign-in ul#menu-user li a{
  text-align: left;
}

button.submit-btn:hover{
    background: #5a9893;
}
button.submit-btn:hover i{
  color: #fff;
}
input.input-scsrb{
    position: absolute;
    top: 16px;
    left: 16px;
    width: 130px;
    border: none;
    font-size: 13px;
}
input[type=email]:focus:not([readonly]).input-scsrb{
  border:none;
  box-shadow: none;
}
label.subscribe-label{
  color: #5a9893;
  font-weight: 700;
  margin-left: 15px;
}
.subscribe-form{
    position: absolute;
    width: 21%;
    margin-left: 30px;
    left: 100%;
    bottom: 0;
}
.submit-btn{
    border-radius: 100%;
    box-shadow: none;
    border: 1px solid;
    border-color: #5a9893;
    background: none;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 24px;
    left: 84%;
}
.submit-btn i{
  color: #5a9893;
}
.separator-border{
  border-right: 1px solid #ddd;
}
.blog-container{
    position: relative;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
.blog-container .date-blog{
    float: left;
    width: 18%;
    background: #5a9893;
    text-align: center;
    color: #fff;
    padding: 5px;
    margin-top: 7px;
}
.blog-container .date-blog span{
      font-size: 16px;
      width: 100%;
      text-align: center;
      float: left;
      font-weight: 700;
}
.content-img-letter{
    margin-top: 40px;
    margin-bottom: 20px;
}
.blog-list{
    float: right;
    width: 80%;
}
.blog-list .author{
  font-size: 13px;
}
.content-img{
    float: left;
    width: 40%;
    margin-top: 20px;
}
.content-txt{
    float: right;
    width: 55%;
}
.content-txt p{
  font-size: 13px;
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  height: 160px; /* Fallback for non-webkit */
  line-height: 1.4;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
a.readmore-txt{
  color: #777;
  font-size: 13px;
}
a.readmore-txt:hover{
  color: #5a9893;
}
#BlogLetter .blog-list .title h6:hover{
  color: #5a9893;
}
#publisher h6.title-article:hover{
  color: #5a9893;
}
#publisher{
  margin: 30px 0;
}
#publisher h6{
  color: #ccc;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 40px;
}
#publisher h6.title-article{
  line-height: 1.4;
  color:#474747;
  margin-bottom: 10px;
}
.faq-title{
    text-align: center;
    margin: 0 0 30px;
    color: #b9b9b9;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 2.5rem;
}
ul.inline-list-icon {
    margin: 0 auto;
    padding: 0;
    width: 77%;
}
ul.inline-list-icon li {
    display: inline-block;
    margin: 30px 3%;
}
#form-topic form{
  width: 55%;
  margin: auto;
}
#form-topic form h6{
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #474747;
}
#form-topic form input.search-topic{
    border: 2px solid #26a69a;
    border-radius: 5px;
    padding-left: 20px;
    float: left;
    margin-right: 10px;
    width: 72%;
    margin-top: 10px;
}
.btn-faq{
  border: none;
  background: none;
  float: right;
  width: 13%;

}
.list-faq{
    float: left;
    width: 100%;
    margin: 15px 0;
}
.faq-blok{
    float: left;
    width: 100%;
    margin-top: 20px;
}
.faq-blok h6.faq-title-font{
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  color: #aaa;
}
.faq-blok p{
    color: #9e9e9e;
    letter-spacing: 1px;
    line-height: 1.4;
}
ul.menu-faq li{
    display: inline-block;
    margin: 5px 2% 5px 0;
    width: 22%;
}
ul.menu-faq li a{
    color: #bbb;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
ul.menu-faq li a.active{
  color: #26a69a;
  font-weight: 700;
}
ul.menu-faq li a:hover{
  color: #26a69a;
  font-weight: 700;
}
ul.filter-menu{
    text-align: center;
    margin-top: 45px;
}
ul.filter-menu li{
  display: inline-block;
  margin: 0 5%;
}
ul.filter-menu li a{
  color: #aaa;
  font-size: 14px;
  letter-spacing: 2px;
}
ul.filter-menu li a:hover, ul.filter-menu li a:hover > i{
  color: #567B7D;
}
.dropdown-content{
  min-width: 200px;
  overflow-y: hidden;
  z-index: 5;
}
.dropdown-content li{
  float: left;
  margin:0!important;
}
.container-payment{
  margin: 50px 0;
}
.pricelist {
    float: left;
    width: 33.3%;
    padding: 8px;
    margin-bottom: 20px;
}
.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    min-height: 420px;
    height: auto;
    border-radius: 5px;
    font-size: 13px;
}
.price:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}
.price li {
    /*border-bottom: 1px solid #eee;*/
    padding: 10px 20px;
    text-align: left;
}
.price li.header{
    text-align: center;
}
.button-package{
    background-color: #ddd;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    width: 100%;
    float: left;
    border-radius: 5px;
    margin-top: -10px;
    letter-spacing: 1px;
}
#package11 .button-package{
    background-color: #04c5c2;
}
#package11:hover .price{
  border-color: #04c5c2;
}
#package11:hover .button-package{
  background: #fff;
  border:1px solid #04c5c2;
  color: #04c5c2;
  
}
#package22 .button-package{
    background-color: #98ca19;
}
#package22:hover .price{
  border-color: #98ca19;
}
#package22:hover .button-package{
  background: #fff;
  border:1px solid #98ca19;
  color: #98ca19;
  
}
#package55 .button-package{
    background-color: #fba723;
}
#package55:hover .price{
  border-color: #fba723;
}
#package55:hover .button-package{
  background: #fff;
  border:1px solid #fba723;
  color: #fba723;
  
}
form.row.redeem{
  margin: auto;
  width: 50%;
}
input.voucher-input{
    border: 2px solid #9e9e9e;
    border-radius: 5px;
    padding-left: 20px;
    float: left;
    width: 57%;
}
input.voucher-input.voc-input{
    padding: 15px;
    height: 3.2rem;
    margin-left: 0;
    background-color: #547a7b;
    color: #fff;
    border: none;
    letter-spacing: 1px;
    width: 34%;
    float: right;
}
.hyperlink-color{
  color: #4aa59e;
}
a.hyperlink-color:hover{
  text-decoration: underline;
}
.paymentstat{
  margin-bottom: 20px;
}
.paymenttable h6{
  color: #c5c5c5;
  letter-spacing: 1px;
  font-weight: bold;
}
.badge-package{
    float: left;
    margin: 15px;
}
.package-status{
    float: left;
    line-height: 1.8;
    font-size: 13px;
    letter-spacing: 1px;
}
.header-table{
    background: #f2f2f2;
    color: #ababab;
    letter-spacing: 1px;
    font-size: 14px;
}
ul.choose-opt{
  text-align: center;
}
ul.choose-opt li{
    display: inline-block;
    margin: 5px 8px;
}
.tabless{
  font-size: 13px;
  letter-spacing: 1px;
  color: #ababab;
  table-layout:fixed;
}
table.tabless.highlight>tbody>tr:hover {
    background-color: #fafafa;
    border-top: 1px solid #4ba69f;
    border-bottom: 1px solid #4ba69f;
}
.badgesmall{
  float: left;
  margin-right: 10px;
}
.active-package{
  color: #4ca59f;
  font-weight: bold;
}
.btn-add-status{
    background: #ececec;
    border-radius: 5px;
    padding: 7px 15px;
    color: #777;
    box-shadow: 0px 1px 2px;
    letter-spacing: 1px;
}
.btn-add-status:hover{
    background: #4ba69f;
    color: #fff;
}
.avatar-img{
  position: relative;
  text-align: left;
}
.profile-user{
  text-align: left;
  font-size: 13px;
  color: #777;
}
.row.no-margbot{
  margin-bottom: 0;
}
.container-bio{
  margin: 50px 0;
}
.container-bio .container{
  width: 50%;
}
.row.striped{
  background-color: #fafafa;
}
.fb-unlink{
  margin: 50px 0;
}
.image-upload > input
{
    display: none;    position: absolute;
    bottom: 24px;
    right: 17%;
}
.image-upload{
    position: absolute;
    bottom: 24px;
    right: 17%;
}
.image-upload label{
  cursor: pointer;
}
.title-bio{
  text-align: right;
  padding: 10px;
  float: left;
  width: 125px;
  font-weight: 700;
}
.desc-biog{
  text-align: left;
  float: left;
  padding: 10px;
}
.profile-user h5{
    font-size: 1.2rem;
    color: #505050;
    letter-spacing: 2px;
}
section.section-gallery{
    position: relative;
}
section.section-gallery h4{
    position: absolute;
    top: 41%;
    right: 100%;
    font-size: 1.4rem;
    color: #ddd;
    margin-right: 40px;
    text-transform: uppercase;
}
section.section-gallery h4:hover{
    color: #567B7D;
}
span.caption-title h5{
   color: #aaa;
   font-size: 14px;
}
span.caption-title h6{
   color: #ddd;
   font-size: 14px;
}
.btn-faq-submit{
  background: url(../img/assets/Symbols/faq-icon-inactive.png);
  float: left;
  height: 63px;
  background-repeat: no-repeat;
  width: 20%;
  border: none;
  position: relative;
}
.btn-faq-submit:hover{
  background: url(../img/assets/Symbols/faq-icon-active.png);
  background-repeat: no-repeat;
}
/*footer{
   position: fixed;
   width: 100%;
   bottom: 0;

}*/
footer .footer {
    background-color: #efefef;
    width: 100%;
    padding: 20px;
    position: absolute;
   
}

footer .footer ul.menu-footer{
    margin: 0;
}

footer .footer ul.menu-footer li{
    display: inline-block;
    margin: 0 34px;
}
footer .footer ul.menu-footer li a{
    color: #888;
    font-weight: 700;
}

footer .footer ul.menu-footer li a:hover{
    color: #567B7D;
}
.icon-collection, .icon-collection-index{
    font-size: 11px;
    margin-top: 12px;
    color: #ddd;
    text-align: right;
}
.icon-collection i, .icon-collection-index i{
    color: #ddd;
}
.icon-collection i.view, .icon-collection-index i.view{
    margin-top: 8px;
}
.icon-collection i.active, .icon-collection-index i.active{
    color: #4BA6A0;
}

/*carousel*/
.carousel{
  position: relative;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    min-height: 400px;
}
.carousel-control.left i{
    font-size: 75px;
    line-height: 5;
    left: 5%;
    position: absolute;
}
.carousel-control.right i{
    font-size: 75px;
    line-height: 5;
    right: 5%;
    position: absolute;
}
.carousel-control.left i:hover, .carousel-control.right i:hover{
    color: #fff;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform .6s ease-in-out;
         -o-transition:      -o-transform .6s ease-in-out;
            transition:         transform .6s ease-in-out;

    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -webkit-perspective: 1000px;
            perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 5%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image:      -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
  background-image:         linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
  background: transparent;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: left;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 10%;
    left: 10%;
    top: 10%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}

@media all and (max-width: 768px) and (min-width: 320px) {
  .slick-slide img {
      display: block;
      width: 100%;
      max-height: 300px;
      height: 300px;
      object-fit: cover;
  }
  .collection-header-profile{
    padding: 30px 0;
  }
  .container .row .col.s3{
    width: 40%;
  }
  .collection-header-profile .row .col.s3.fb-connect{
    width: 100%;
  }
  .fb-unlink{
    margin: 30px 0 0;
  }
  .container-bio .container {
    width: 100%;
}
  .row .col.s9.badges_c{
      width: 60%;
  }
  .row .col.s3.add_c{
    width: 40%;
  }
  ul.choose-opt li {
      display: inline-block;
      margin: 5px 7px;
  }
  form.row.redeem{
  
    width: 100%;
  }
  .pricelist {
     width: 100%;
  }
  input.voucher-input{
   
    width: 46%;
}
  input.voucher-input.voc-input{
   
    width: 45%;
    font-size: 12px;

}
  
  .add-to-watchlist {
    border: 1px solid #aaa;
    padding: 5px 1px;
    border-radius: 3px;
    color: #aaa;
    font-size: 13px;
    letter-spacing: 1px;
}

  .play-video-center{
    position: absolute;
    top: 40%;
    left: 40%;
  }
  .hover-mask .video-play {
    text-align: center;
    height: 188px;
    position: relative;
    z-index: 10;
}
.hover-mask .video-play a {
    font-size: 4rem;
    line-height: 4;
}
.hover-mask span.genre-film {
    color: #fff;
    float: left;
    width: 65%;
    font-size: 13px;
    line-height: 1.1;
    margin: 0 8px;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px #000;
}
  nav#kineria_nav a.brand-logo img.logo-img {
    margin: 10px;
  }
  footer .footer ul.menu-footer li {
    display: inline-block;
    margin: 0 8px;
  }
  footer .footer ul.menu-footer {
    margin: 0;
    width: 100%;
  }
  .l-text {
        position: absolute;
        width: 100%;
        top: 0;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
   .l-text p {
        width: 100%;
        text-transform: none;
        font-size: 13px;
    }
    .r-text {
        position: absolute;
        width: 20%;
        right: 40%;
        top: 65%;
    }
    .video-layer {
        position: relative;
        border: 10px solid #000;
        height: 400px;
    }
    .menu-video .tabs {
        margin: 6px auto;
        background: #000;
        width: 100% !important;
        overflow: hidden;
    }
    .menu-video{
        margin-top: -50px;
    }
    .menu-video .tabs a {
        color: #A9A9A9;
        font-weight: 700;
        font-size: 13px;
    }
    
    .crew-table span.actors {
        text-align: right;
        font-weight: 700;
        float: left;
        width: 46%;
        font-size: 14px;
    }
    .crew-table span.realname {
        text-align: left;
        margin-left: 20px;
        float: right;
        width: 42%;
        font-size: 14px;
    }
    .commentar-wrapper textarea.comments{
        width: 79%;
    }
    
    
    .text-heading h2{
        margin: 8% 0 8%;
        line-height: 42px;
    }
    .jumbotron-header {
        background: #f6f6f6;
        margin-top: -15px;
        padding: 60px 20px 20px;
        border-bottom: 2px solid #ddd;
    }

    .jumbotron-specific {
        padding: 20px 20px 20px;
        border-bottom: 2px solid #ddd;
        color: #777;
    }
    .jumbotron-header-service {
          background: #f6f6f6;
          margin-top: 0;
          padding: 20px;
          border: 1px solid #ddd;
      }

}

@media all and (max-width: 599px) and (min-width: 481px){
    #testimonial .arrow_box:after, #testimonial .arrow_box:before {
        left: 22%;       
    }
    ul.inline-list-icon {
        margin: 0 auto;
        padding: 0;
        width: 57%;
    }
    .row .col.s9.badges_c{
      width: 60%;
    }
    .row .col.s3.add_c{
      width: 40%;
    }
    ul.choose-opt li {
        display: inline-block;
        margin: 5px 7px;
    }
    .add-to-watchlist {
        border: 1px solid #aaa;
        padding: 5px 5px;
        border-radius: 3px;
        color: #aaa;
        font-size: 13px;
        letter-spacing: 1px;
    }
    ul.filter-menu li {
        display: inline-block;
        margin: 0 1%;
    }
    ul.inline-list-collection{
      width: 83%;
      margin: auto;
    }
    .hover-mask .video-play {
        text-align: center;
        height: 260px;
        position: relative;
        z-index: 10;
    }
    #form-topic form input.search-topic {
        
        width: 67%;
        
    }
    ul.menu-faq li {
        display: inline-block;
        margin: 5px 2% 5px 0;
        width: 30%;
    }
    #form-topic form {
        width: 67%;
        margin: auto;
    }
    .blog-list {
        float: right;
        width: 73%;
    }
    .blog-container .date-blog {
        float: left;
        width: 23%;
    }
    .content-txt p {
        height: 93px;
        line-height: 1.4;
        -webkit-line-clamp: 5;
        
    }
    #BlogLetter .blog-list .title h6 {
        font-size: 12px;
    }
   .call-center .center-support {
        width: 100%;
        margin: 0 auto;
        color: #777777;
        font-size: 16px;
        letter-spacing: 1px;
    }
    .support-center {
        color: #777777;
        font-size: 15px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }
    .row .contact-support {
        padding: 20px 20px;
    }
    .row .col.s4.contact-detail, .row .col.s8.maps{
        width: 50%;
    }
    .row .col.s8.maps iframe{
        width: 100%;
        height: 250px;
    }
    .contact-detail p {
      color: #777;
      font-size: 14px;
      letter-spacing: 1px;
    }
    .contact-detail p {
      color: #777;
      font-size: 13px;
      letter-spacing: 1px;
    }
    .show-on-medium {
      display: block !important;
    }
    .separator {
        
        right: 80%;
        
    }
    .row .col.linear{
      left: 56px;
    }
    form.cxform .col.s3{
      width: 40%;
    }
}

@media all and (max-width: 768px) and (min-width: 600px){
    #testimonial .arrow_box:after, #testimonial .arrow_box:before {
        left: 22%;       
    }
    .row .col.s6.wm-m{
      width: 55%;
    }
    .row .col.s9.badges_c{
      width: 60%;
    }
    .row .col.s3.add_c{
      width: 40%;
    }
    ul.choose-opt li {
        display: inline-block;
        margin: 5px 7px;
    }
    .row .col.s6.wm-m .add-to-watchlist{
      padding: 5px 12px;
    }
    .row .col.s6.w-mm{
      width: 45%;
    }
    .add-to-watchlist {
        border: 1px solid #aaa;
        padding: 5px 7px;
        border-radius: 3px;
        color: #aaa;
        font-size: 13px;
        letter-spacing: 1px;
    }
    ul.inline-list-icon {
        margin: 0 auto;
        padding: 0;
        width: 96%;
    }
    ul.filter-menu li {
        display: inline-block;
        margin: 0 1%;
    }
    ul.inline-list-collection{
        width: 80%;
        margin: auto;
    }
    .hover-mask .video-play {
        text-align: center;
        height: 260px;
        position: relative;
        z-index: 10;
    }
    #form-topic form {
        width: 73%;
        margin: auto;
    }
    #form-topic form input.search-topic {
        
        width: 71%;
        
    }
    .btn-faq{
        width: 15%;
    }

    ul.menu-faq li {
        display: inline-block;
        margin: 5px 2% 5px 0;
        width: 30%;
    }

    ul.inline-list-icon li {
        display: inline-block;
        margin: 30px 0;
    }
    .blog-list {
        float: right;
        width: 75%;
    }
    .blog-container .date-blog {
        float: left;
        width: 22%;
    }
    .content-txt p {
        height: 105px;
        line-height: 1.4;
        -webkit-line-clamp: 6;
        
    }
    .slick-slide {
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
        margin: 0 10px 10px;
    }
    .slick-slide img {
        width: 100%;
    }
    section.section-gallery h4{
        position: relative;
        top: 0;
        margin-right: 0;
        left: 10%;
    }
    .arrow_box:after, .arrow_box:before{
        left: 10%;
    }
    ul.inline-list-collection li {
        display: inline-block;
        margin: 3% 1%;
    }
    .carousel-caption{
      bottom: 165px;
    }
    .call-center .center-support {
        width: 90%;
        margin: 0 auto;
        color: #777777;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .support-center {
        color: #777777;
        font-size: 14px;
        margin-bottom: 15px;
        letter-spacing: 1px;
    }
    .contact-detail p {
        color: #777;
        font-size: 14px;
        letter-spacing: 1px;
    }
    .row .col.s8.maps iframe{
        width: 100%;
        height: 350px;
    }
    .row .contact-support {
        padding: 20px 20px;
    }
    .separator {
        
        right: 80%;
        
    }
    .row .col.linear{
      left: 56px;
    }
    form.cxform .col.s3{
      width: 40%;
    }
}

@media all and (max-width: 768px) and (min-width: 768px){
  ul.inline-list-collection {
    width: 100%;
    margin: auto;
  }
  .pricelist {
     width: 33.3%;
  }
  footer .footer{
    bottom: 0;
  }
  input.voucher-input{
   
    width: 46%;
  }
  input.voucher-input.voc-input{
     
      width: 45%;
      font-size: 12px;

  }
  .price{
    min-height: 500px;
  }
}

@media all and (max-width: 480px) and (min-width: 320px){
    ul.inline-list-icon {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    .collection-header-profile{
      padding: 30px;
      overflow: hidden;
    }
    .collection-header-profile .container, .collection-header-profile .container .col.s3{
      width: 100%;
    }
    .collection-header-profile .container .col.s6.profile-user{
      width: 100%;
      text-align: center;
    }
    .avatar-img {
        position: relative;
        text-align: center;
    }
    .fb-unlink {
        margin: 30px 0 0;
    }
    .container-bio .container {
        width: 100%;
    }
    .container-bio .container .leftonmobile{
      float: left !important;
      position: relative;
    }
    .desc-biog{
      width: 150px;
    }
    .desc-biog.icononmobile{
      position: relative;
      left: 42%;
    }
    .row .col.s9.badges_c{
      width: 100%;
    }

    .row .col.s3.add_c{
      width: 100%;
    }
    .badge-package {
        float: none; 
        margin: 0; 
        text-align: center;
    }
    .row .col.s6.w-mm{
      width: 37%;
    }
    .row .col.s6.wm-m{
      width: 63%;
    }
    .btn-faq {
        border: none;
        background: none;
        float: right;
        width: 20%;
    }
    ul.inline-list-icon li {
        display: inline-block;
        margin: 30px 2% 10px;
    }
    button.btn-faq {
    
        width: 20%;
    }
    .btn-faq-submit{
      width: 21%;
    }
    #form-topic form input.search-topic {
       
        width: 67%;
        
    }
    #form-topic form {
        width: 100%;
        margin: auto;
    }
    ul.menu-faq li {
        display: inline-block;
        margin: 5px 2% 5px 0;
        width: 47%;
    }
    ul.menu-faq li a {
        color: #bbb;
        font-size: 1rem;
        letter-spacing: 1px;
    }
    .show-on-medium-and-down {
      display: block !important;
    }
    .publist .col.s2, .publist .col.s10{
      width: 100%;
    }
    .jumbotron-header-service {
          background: #f6f6f6;
          margin-top: 0;
          padding: 30px 20px;
          border: 1px solid #ddd;
      }
      #SlideHeader .col.s4, #SlideHeader .col.s8{
          width: 100%;
      }
      #BlogLetter .separator-border{
          border: none;
          width: 100%;
          border-bottom: 1px solid #ddd;
          margin-bottom: 40px;
      }
      #BlogLetter .col.s6.newsletter-service{
          width: 100%;
      }
      #BlogLetter .kblog-title, #BlogLetter .newsletter-title{
        width: 100%;
      }
      
      #testimonial .arrow_box::after, #testimonial .arrow_box::before {
          left: 22%;
      }
      .blog-list {
          float: right;
          width: 75%;
      }
      .blog-container .date-blog {
          float: left;
          width: 22%;
      }
      .content-txt {
          float: right;
          width: 100%;
      }
      .content-img {
          float: left;
          width: 100%;
          margin-top: 20px;
      }
      .content-img img{
        width: 173px;
        height: 200px;
      }
    .crew-table .col.s6.crew, .crew-table .col.s6.player{
        width: 100% !important;
        margin-bottom: 20px;
    }
    .arrow_box:after, .arrow_box:before{
        left: 20%;
    }
    ul.inline-list-collection li {
        display: inline-block;
        margin: 5% 1px 5% 0;
        width: 49%;
    }
    ul.inline-list-collection li img{
        width: 100%;
        height: 220px;
        min-height: 220px;
    }
    section.section-gallery h4 {
        position: relative;
        top: 0;
        right: 0;
        font-size: 1.4rem;
        color: #ddd;
        margin-left: 50px;
        text-transform: uppercase;
        text-align: center;
    }
    .icon-collection {
        font-size: 11px;
        margin-top: 8px;
        color: #ddd;
        text-align: right;
        padding: 0 !important;
        position: relative;
        right: 16px !important
    }
    .icon-collection-index {
        font-size: 11px;
        margin-top: 8px;
        color: #ddd;
        text-align: right;
        
    }
    .gallery-view-home {
        margin: 0 20px;
        border-bottom: 1px solid #979797;
        padding-bottom: 20px;
    }
    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        display: block;
        max-width: 100%;
        height: 100%;
        width: 100%;
        object-fit: cover;
        min-height: 200px;
    }
    .carousel {
        height: 200px;
    }
    .carousel-control.left i {
        font-size: 46px;
        line-height: 4;
        left: 5%;
        position: absolute;
    }
    .carousel-control.right i {
        font-size: 46px;
        line-height: 4;
        right: 5%;
        position: absolute;
    }
    .carousel-caption{
        bottom: 38%;
    }
    .carousel-caption h3{
        font-size: 1.8rem;
        margin-top: 0;
    }
    ul.filter-menu li {
        display: inline-block;
        margin: 2% 1%;
    }
    .row .col.s4.sm100{
      width: 100%;
      margin-bottom: 20px;
    }
    .call-center .center-support {
        width: 75%;
        margin: 0 auto;
        color: #777777;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .row .contact-support {
        padding: 20px 20px;
    }
    .row .col.s4.contact-detail, .row .col.s8.maps{
        width: 100%;
    }
    .row .col.s8.maps iframe{
        width: 100%;
        height: 350px;
    }
    .contact-detail p {
      color: #777;
      font-size: 14px;
      letter-spacing: 1px;
    }
    form.cxform .col.s5{
      width: 96%;
    }
}
@media all and (max-width: 480px) and (min-width: 450px) { 
  ul.inline-list-icon li {
      display: inline-block;
      margin: 30px 9% 10px;
  }
  .image-upload {
      position: absolute;
      bottom: 24px;
      right: 27%;
  }
  .desc-biog{
    width: 230px;
  }
  .row .col.s6.w480{
      width: 57%;
  }
  .row .col.s6.w480-1{
      width: 43%
  }
  .row .col.s6.wm-m .add-to-watchlist{
      padding: 5px 7px;
  }
  .row .col.s6.wm-m{
    width: 50%;
  }
  .row .col.s6.w-mm{
    width: 50%;
  }
}
@media all and (max-width: 420px) and (min-width: 400px) {
    .row .col.s6.wm-m{
      width: 57%;
    }
    .row .col.s6.w-mm{
      width: 43%;
    }
    .row .col.s6.w480-1{
      width: 54%;
    }
    .row .col.s6.w480{
      width: 46%;
    }
}
@media all and (max-width: 420px) and (min-width: 370px) { 
    
    ul.inline-list-icon li {
      display: inline-block;
      margin: 30px 6% 10px;
  }
    .row .col.s6.wm-m .add-to-watchlist{
      padding: 5px 7px;
    }
    .add-to-watchlist {
      border: 1px solid #aaa;
      padding: 5px 13px;
      border-radius: 3px;
      color: #aaa;
      font-size: 13px;
      letter-spacing: 1px;
  }
  
}
@media all and (max-width: 360px) and (min-width: 360px) {
  ul.inline-list-collection li img{
        width: 100%;
        height: 240px;
        min-height: 240px;
    }
    ul.inline-list-icon li {
      display: inline-block;
      margin: 30px 5% 10px;
  }
  .wm-m .add-to-watchlist{
    padding: 5px 7px;
  }
  .add-to-watchlist {
    border: 1px solid #aaa;
    padding: 5px 10px;
    border-radius: 3px;
    color: #aaa;
    font-size: 13px;
    letter-spacing: 1px;
}
  .slick-track {
      position: relative;
      top: 0;
      left: 0;
      display: block;
      overflow: hidden;
      max-height: 400px;
  }
  .slick-slide img {
      display: block;
      width: 100%;
      max-height: 330px;
      height: 330px;
      object-fit: cover;
  }
}
@media all and (max-width: 800px) and (min-width: 768px){
    ul.inline-list-collection li {
        display: inline-block;
        margin: 3% 1%;
    }
    ul.inline-list-icon li {
        display: inline-block;
        margin: 30px 13px;
    }
    .collection-header-profile{
        padding: 30px 0;
      }
      .container .row .col.s3{
        width: 40%;
      }
      .collection-header-profile .row .col.s3.fb-connect{
        width: 100%;
      }
      .fb-unlink{
        margin: 30px 0 0;
      }
      .avatar-img{
        text-align: center;
      }
      .image-upload {
          position: absolute;
          bottom: 24px;
          right: 10%;
      }
      .container-bio .container {
        width: 100%;
    }
    .row .col.s9.badges_c{
      width: 60%;
    }
    .row .col.s3.add_c{
      width: 40%;
    }
    ul.choose-opt li {
        display: inline-block;
        margin: 5px 7px;
    }
    .pricelist {
     width: 33.3%;
    }
    input.voucher-input{
     
      width: 46%;
    }
    input.voucher-input.voc-input{
       
        width: 45%;
        font-size: 12px;

    }
    .price{
      min-height: 500px;
    }
    section.section-gallery h4 {
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        font-size: 1.4rem;
        color: #ddd;
        margin-left: 50px;
        text-transform: uppercase;
    }
    .icon-collection, .icon-collection-index{
        font-size: 11px;
        margin-top: 10px;
        color: #ddd;
        text-align: right;
        position: relative;
        right: 8px !important;
        padding: 0 !important;
    }
    .separator {
        
        right: 85%;
        
    }
    .row .col.linear {
    left: 81px;
    }

    .menu-video .tabs {
        margin: 6px auto;
        background: #000;
        width: 60% !important;
    }

}

@media all and (max-width: 1279px) and (min-width: 800px) {
    .call-center .center-support {
        width: 100%;
        margin: 0 auto;
        color: #777777;
        font-size: 18px;
        letter-spacing: 1px;
    }
    .add-to-watchlist {
        border: 1px solid #aaa;
        padding: 5px 3px;
        border-radius: 3px;
        color: #aaa;
        font-size: 13px;
        letter-spacing: 1px;
    }
     #form-topic form input.search-topic {
        
        width: 70%;
        
    }
    .btn-faq{
        width: 15%;
    }
    ul.inline-list-icon {
        margin: 0 auto;
        padding: 0;
        width: 100%;
    }
    
    .row .col.s8.maps iframe{
        width: 100%;
        height: 350px;
    }
    .row .contact-support {
        padding: 20px 20px;
    }
    .separator {
        
        right: 82%;
        
    }

    .crew-table span.realname {
        text-align: left;
        margin-left: 20px;
        display: inline-block;
        width: 170px;
        font-size: 14px;
    }
    .crew-table span.actors {
        text-align: right;
        font-weight: 700;
        display: inline-block;
        width: 100px;
        font-size: 14px;
    }

    #testimonial .arrow_box:after, #testimonial .arrow_box:before {
        bottom: 0;
        left: 12%;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        transform: rotate(180deg);
        top: 100%;
    }
    .content-txt p {
        
        height: 125px;
        line-height: 1.4;
        -webkit-line-clamp: 7;
        
    }

    .subscribe-form {
        position: absolute;
        width: 26%;
        left: 97%;
        bottom: -14px;
    }

    .submit-btn {
        border-radius: 100%;
        box-shadow: none;
        border: 1px solid;
        border-color: #5a9893;
        background: none;
        width: 30px;
        height: 30px;
        position: absolute;
        top: 22px;
        left: 83%;
    }
   
    form.cxform .col.s3{
      width: 40%;
    }
    nav ul a {
      transition: background-color .3s;
      font-size: 1rem;
      color: #fff;
      display: inline-block;
      padding: 0px 7px;
      cursor: pointer;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
  .hide-on-large-only {
    display: none !important;
  }
  ul.filter-menu li {
      display: inline-block;
      margin: 0 3%;
  }
  .collection-header-profile .container{
    width: 85%;
  }
  .image-upload {
    position: absolute;
    bottom: 24px;
    right: 7%;
}
  .row .col.s9.badges_c{
      width: 60%;
  }
  .row .col.s3.add_c{
    width: 40%;
  }
  ul.choose-opt li {
      display: inline-block;
      margin: 5px 7px;
  }
  .pricelist {
     width: 33.3%;
  }
  input.voucher-input{
   
    width: 46%;
  }
  input.voucher-input.voc-input{
     
      width: 45%;
      font-size: 12px;

  }
  .price{
    min-height: 500px;
  }
  .crew-table span.actors {
      text-align: right;
      font-weight: 700;
      display: inline-block;
      width: 123px;
      font-size: 14px;
  }
  .menu-video .tabs {
      margin: 6px auto;
      background: #000;
      width: 44% !important;
  }
  .commentar-wrapper textarea.comments {
      position: relative;
      background: #fff;
      border: none;
      padding: 10px 15px 0;
      width: 92%;
      min-height: 0;
      border-radius: 10px;
      height: 25px;
  }
  ul.inline-list-collection{
    width: 93%;
    margin: auto;
  }
  input.input-scsrb {
          position: absolute;
          top: 16px;
          left: 16px;
          width: 120px;
          border: none;
          font-size: 13px;
      }
}
@media all and (max-width: 1199px) and (min-width: 1130px) {
  ul.inline-list-collection{
    width: 89%;
    margin: auto;
  }
  ul.inline-list-collection li{
    margin: 3% 2%;
  }
  .submit-btn {
        border-radius: 100%;
        box-shadow: none;
        border: 1px solid;
        border-color: #5a9893;
        background: none;
        width: 31px;
        height: 31px;
        position: absolute;
        top: 22px;
        left: 84%;
    }
     ul.inline-list-icon {
        margin: 0 auto;
        padding: 0;
        width: 90%;
    }
    .crew-table span.actors {
      text-align: right;
      font-weight: 700;
      display: inline-block;
      width: 200px;
      font-size: 14px;
  }
    .crew-table span.realname {
      text-align: left;
      margin-left: 20px;
      display: inline-block;
      width: 155px;
      font-size: 14px;
  }
  input.input-scsrb {
          position: absolute;
          top: 16px;
          left: 16px;
          width: 120px;
          border: none;
          font-size: 13px;
      }
}

@media all and (max-width: 1279px) and (min-width: 1200px) {
    .submit-btn {
        border-radius: 100%;
        box-shadow: none;
        border: 1px solid;
        border-color: #5a9893;
        background: none;
        width: 33px;
        height: 33px;
        position: absolute;
        top: 22px;
        left: 84%;
    }
    ul.choose-opt li {
        display: inline-block;
        margin: 5px 3px;
    }
    ul.inline-list-collection li {
        display: inline-block;
        margin: 3% 0.3%;
        position: relative;
    }

    .subscribe-form {
        position: absolute;
        width: 25%;
        left: 97%;
        bottom: -14px;
    }
    ul.inline-list-icon {
        margin: 0 auto;
        padding: 0;
        width: 77%;
    }
    .crew-table span.realname {
      text-align: left;
      margin-left: 20px;
      display: inline-block;
      width: 170px;
      font-size: 14px;
  }
  .crew-table span.actors {
      text-align: right;
      font-weight: 700;
      display: inline-block;
      width: 100px;
      font-size: 14px;
  }

}

@media only screen and (min-width: 1280px) and (max-width: 1280px) { 
    
      input.input-scsrb {
          position: absolute;
          top: 16px;
          left: 16px;
          width: 120px;
          border: none;
          font-size: 13px;
      }
      .add-to-watchlist {
          border: 1px solid #aaa;
          padding: 5px 3px;
          border-radius: 3px;
          color: #aaa;
          font-size: 13px;
          letter-spacing: 1px;
      }
      .submit-btn {
          border-radius: 100%;
          box-shadow: none;
          border: 1px solid;
          border-color: #5a9893;
          background: none;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 24px;
          left: 83%;
      }

}

@media all and (max-width: 1259px) and (min-width: 1200px) {
      ul.inline-list-icon li {
        display: inline-block;
        margin: 30px 2%;
    }
    .add-to-watchlist {
        border: 1px solid #aaa;
        padding: 5px 4px;
        border-radius: 3px;
        color: #aaa;
        font-size: 13px;
        letter-spacing: 1px;
    }
    .row .col.s6.w480-1{
      width: 45%;
    }
    .row .col.s6.w480{
      width: 55%;
    }

}

