<li><div><img src="img/poster/poster-5.jpg">
              <span class="caption-title">
                  <div class="row no-marg-bottom">
                    <div class="col s6">
                      <h5 class="truncate">Perjalanan Prayitno</h5>
                    </div>
                    <div class="col s5 icon-collection right">
                        <span class="rating">
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star-o " aria-hidden="true"></i>
                        </span>
                    </div>
                  </div>
                  <div class="row no-marg-bottom">
                    <div class="col s6 w-mm">
                        <span class="genre-film">SU</span>
                    </div>
                    <div class="col s6 wm-m">
                       <a href="watchlist-movie.html" onclick="Materialize.toast('Film ini telah ditambahkan ke Watchlist Anda', 4000)"><span class="add-to-watchlist">+ watchlist</span></a>
                    </div>
                  </div>
                </span></div></li>
            <li><div><img src="img/poster/poster-6.jpg">
              <span class="caption-title">
                  <div class="row no-marg-bottom">
                    <div class="col s6">
                      <h5 class="truncate">Kamis Ke 300</h5>
                    </div>
                    <div class="col s5 icon-collection right">
                        <span class="rating">
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star active" aria-hidden="true"></i>
                        <i class="fa fa-star-o " aria-hidden="true"></i>
                      </span>
                    </div>
                  </div>
                  <div class="row no-marg-bottom">
                    <div class="col s6 w-mm">
                        <span class="genre-film">SU</span>
                    </div>
                    <div class="col s6 wm-m">
                       <a href="watchlist-movie.html" onclick="Materialize.toast('Film ini telah ditambahkan ke Watchlist Anda', 4000)"><span class="add-to-watchlist">+ watchlist</span></a>
                    </div>
                  </div>
                </span></div></li>
            <li><div><img src="img/poster/poster-7.jpg">
              <span class="caption-title">
                  <div class="row no-marg-bottom">
                    <div class="col s6">
                      <h5 class="truncate">End Chat</h5>
                    </div>
                    <div class="col s5 icon-collection right">
                        <span class="rating">
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star-o " aria-hidden="true"></i>
                        </span>
                    </div>
                  </div>
                  <div class="row no-marg-bottom">
                    <div class="col s6 w-mm">
                        <span class="genre-film">SU</span>
                    </div>
                    <div class="col s6 wm-m">
                       <a href="watchlist-movie.html" onclick="Materialize.toast('Film ini telah ditambahkan ke Watchlist Anda', 4000)"><span class="add-to-watchlist">+ watchlist</span></a>
                    </div>
                  </div>
                </span></div></li>
            <li><div><img src="img/poster/poster-8.jpg">
              <span class="caption-title">
                  <div class="row no-marg-bottom">
                    <div class="col s6">
                      <h5 class="truncate">BU</h5>
                    </div>
                    <div class="col s5 icon-collection right">
                        <span class="rating">
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star active" aria-hidden="true"></i>
                          <i class="fa fa-star-o " aria-hidden="true"></i>
                        </span>
                    </div>
                  </div>
                  <div class="row no-marg-bottom">
                    <div class="col s6 w-mm">
                        <span class="genre-film">BO</span>
                    </div>
                    <div class="col s6 wm-m">
                       <a href="watchlist-movie.html" onclick="Materialize.toast('Film ini telah ditambahkan ke Watchlist Anda', 4000)"><span class="add-to-watchlist">+ watchlist</span></a>
                    </div>
                  </div>
                </span></div></li>