
    <div class="m-bot20">
        <h6 class="faq-title-font">Bagaimana metode pembayaran online yang digunakan ?</h6>
        <p>Kineria menerima pembayaran paket dengan cara transfer dan pembayaran melalui Kartu Kredit. Selama masa softlaunch, pembayaran dilakukan melalui transfer.</p>
    </div>
    <div class="m-bot20">
        <h6 class="faq-title-font">Setelah berakhirnya masa berlangganan awal, apakah secara otomatis diperpanjang dan didebit ke akun bank saya?</h6>
        <p>Secara otomatis system kami akan mengirimkan notifikasi ke email kamu mengenai masa berlangganan dan informasi seputar perpanjangan masa berlangganan di Kineria Movie. Jadi kamu dapat memilih untuk memperpanjang atau berhenti berlangganan.</p>
    </div>
    <div class="m-bot20">
        <h6 class="faq-title-font">Apakah setelah melakukan pembayaran paket, film dapat langsung di tonton ?</h6>
        <p>Setelah kamu melakukan transaksi pembayaran, lakukan konfirmasi pembayaran pada situs kineria.com. Kamu akan mendapatkan informasi melalui email jika paket yang kamu beli sudah aktif, kemudian kamu dapat langsung memilih film yang diinginkan.</p>
    </div>

   