<div class="m-bot20">
	<h6 class="faq-title-font">Apakah saya dapat membuat list favorit film ?</h6>
	<p>Ya. Dengan meng-klik icon hati yang berada di halaman detail film, maka film tersebut masuk ke list film favorit kamu.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Bagaimana mengecek history film yang sudah pernah saya tonton?</h6>
	<p>Kamu dapat melihat history film yang sudah kamu beli, baik yang sudah ditonton maupun yang belum ditonton pada menu Watchlist.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Bagaimana cara menghapus History film yang sudah saya beli/tonton?</h6>
	<p>Untuk saat ini, kamu tidak dapat menghapus history film yang sudah kamu beli/tonton.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Bagaimana menambahkan film baru ke watchlist?</h6>
	<p>Dengan membeli paket nonton, kamu dapat memilih film yang ingin kamu tonton, film yang kamu pilih tersebut akan masuk secara otomatis ke list watchlist kamu.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Bagaimana menghapus film dari watchlist?</h6>
	<p>Untuk saat ini, kamu tidak dapat menghapus list film yang berada di menu watchlist.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Apa itu Wishlist?</h6>
	<p>Wishlist adalah list film-film yang kamu inginkan disimpan agar kamu dapat membelinya dilain waktu.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Bagaimana menambahkan film ke menu wishlist?</h6>
	<p>Cukup dengan meng-klik icon + pada halaman detail film, maka film tersebut akan masuk ke list wishlist kamu.</p>
</div>





