<div class="m-bot20">
	<h6 class="faq-title-font">Mengapa saya tidak dapat melakukan registrasi?</h6>
	<p>Ada beberapa kemungkinan kenapa kamu gagal melakukan registrasi, yaitu:</p>
	<p> > Kamu belum mengisi formulir signup dengan lengkap <br> > Email atau username yang dimasukan sudah terdaftar sebelumnya <br> > Kesalahan penulisan password
 </p>
</div>

<div class="m-bot20">
	<h6 class="faq-title-font">Mengapa saya tidak pernah menerima email konfirmasi ?</h6>
	<p>Ketika kamu melakukan registrasi, email konfirmasi akan di kirim langsung ke email kamu secara otomatis. Jika belum mendapatkan, mungkin dikarenakan adanya filter pada "span" kamu - Silakan periksa folder span kamu. Coba cek kembali apakah alamat email yang kamu daftarkan sudah benar, bila masih belum menerima konfirmasi melalui email, silahkan hubungi kami pada halaman feedback page</p>
</div>

<div class="m-bot20">
	<h6 class="faq-title-font">Lupa password?</h6>
	<p>Pada halaman sign in kamu bisa melakukan klik forget password, silahkan masukkan email kamu dan system akan mereset sandi kamu.</p>
</div>

<div class="m-bot20">
	<h6 class="faq-title-font">Mengubah email setting?</h6>
	<p>Kamu dapat melakukan setting email pada menu 'Akun saya'.</p>
</div>

<div class="m-bot20">
	<h6 class="faq-title-font">Apakah saya bisa mengubah password?</h6>
	<p>Password dapat diubah pada menu 'Akun saya'.</p>
</div>

<div class="m-bot20">
	<h6 class="faq-title-font">Saya mengalami kesulitan login?</h6>
	<p>Pastikan alamat email dan sandi benar (petunjuk disini). Jika masih tidak bisa login, silahkan hubungi kami di halaman feedback page dan kami dapat mereset sandi kamu.</p>
</div>

<div class="m-bot20">
	<h6 class="faq-title-font">Apakah saya dapat melakukan preview film sebelum saya berlangganan?</h6>
	<p>Kamu dapat menonton trailer film-film yang ada di Kineria.com secara gratis. Trailer dapat diakses melalui simbol trailer di Thumbnail film tersebut</p>
</div>

<div class="m-bot20">
	<h6 class="faq-title-font">Bagaimana saya dapat berlangganan / berhenti berlangganan dari Kineria newsletter?</h6>
	<p>Ya, silakan hubungi cx@kineria.com</p>
</div>

<div class="m-bot20">
	<h6 class="faq-title-font">Apakah saya dapat melakukan de-active/cancel/remove account saya?</h6>
	<p>Ya, silakan hubungi cx@kineria.com</p>
</div>

