<div class="m-bot20">
	<h6 class="faq-title-font"> Mengapa saya tidak dapat menemukan judul film di kotak pencarian ?</h6>
	<p>Ada beberapa hal kenapa judul film yang kamu cari tidak ditemukan:</p>
	<p> > Pastikan judul yang kamu masukkan itu benar penulisannya</p>
	<p> > Kineria tidak memiliki film dengan Judul film yang kamu cari.</p>

</div>
<div class="m-bot20">
	<h6 class="faq-title-font"> Mengapa saya tidak dapat menonton setelah saya melakukan pembayaran ?</h6>
	<p>Setelah melakukan pembayaran, kamu harus melakukan konfirmasi pembayaran agar team kami dapat segera memproses aktifasi paket yang kamu beli. Setelah team kami mengaktifasi paket kam, kamu dapat segera memilih film yang ingin kamu tonton.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font"> Mengapa video sering berhenti dan memberikan notifikasi &quot;Buffering&quot; atau &quot;Loading&quot;?
	</h6>
	<p>Kecepatan tergantung pada banyak hal seperti koneksi. Kami sarankan Anda membiarkan &lsquo;loading&rsquo; film, tekan pause, dan biarkan &lsquo;loading&rsquo; selama beberapa menit di latar belakang, dan kemudian Anda dapat mulai menontonnya.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font"> Berapa bandwith yang dibutuhkan untuk menonton film di Kineria</h6>
	<p>Tidak ada minimal bandwith yang dibutuhkan untuk dapat menikmati konten film di Kineria.com, system secara otomatis akan menyesuaikan kecepatan internet dan gambar yang ditampilkan tetap memiliki kualitas terbaik.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font"> Apakah saya dapat menonton video dengan resolusi yang lebih tinggi / terdapat pilihan resolusi?</h6>
	<p>Resolusi gambar di kineria movie memiliki pengaturan yang disesuaikan dengan kecepatan koneksi internet. Meskipun kecepatan koneksi internet lambat, resolusi tinggi tetap dapat dinikmati oleh pelanggan.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font"> Apa persyaratan system yang dibutuhkan untuk Kineria.com ?</h6>
	<p>Konten pada Kineria dapat dinikmati dengan system berikut:</p>
	
		<p> > Internet Explorer 7.0 atau versi di atasnya, Firefox 3 dan Chrome</p>
		<p> > JavaScript dan Cookie harus diaktifkan</p>
		<p> > Adobe Flash Player 10.0.22 atau versi di atasnya</p>
		<p> > Microsoft Windows XP SP2, Microsoft Windows Vista, Windows 7 dan Macintosh OS X</p>
	
</div>
<div class="m-bot20">
	<h6 class="faq-title-font"> Apakah Kineria dapat diakses secara mobile?</h6>
	<p>Ya. Kamu dapat mengakses situs kineria dan menonton film di kineria melalui perangkat handphone dan tablet.</p>
</div>
