
    <div class="m-bot20">
        <h6 class="faq-title-font">Tentang Kineria</h6>
        <p>Kineria.com merupakan platform film hiburan online yang mendistribusikan film-film Indonesia berdurasi panjang ataupun pendek tanpa adanya pemotongan durasi film dan menawarkan berbagai genre favorit - seperti komedi, aksi, kejahatan, horor, drama dan thriller.</p>
    </div>

    <div class="m-bot20">
        <h6 class="faq-title-font">Keuntungan apa saja yang didapatkan dengan berlangganan di Kineria</h6>
        <p> > Dengan berlangganan di Kineria Movie kamu bisa menikmati konten film pendek dan film panjang Indonesia sesuai keinginan. <br>
        > Layanan film di Kineria ini dapat menyesuaikan kecepatan internet yang digunakan pelanggan dengan kualitas gambar yang sangat baik.</p>
    </div>

    <div class="m-bot20">
        <h6 class="faq-title-font">Apakah film yang terdapat pada Kineria legal dan dilindungi hak cipta ?</h6>
        <p>Semua konten film yang kamu nikmati di Kineria adalah legal dibawah hukum dan dilindungi hak cipta.</p>
    </div>

    <div class="m-bot20">
        <h6 class="faq-title-font">Bagaimana cara mendaftar/registrasi di Kineria ?</h6>
        <p> > Kunjungi situs Kineria.com <br> > Pilih Menu 'LOGIN' pada halaman kanan atas <br> > Klik "Daftar disini gratis" <br> > Isi formulir pendaftaran dengan lengkap dan sesuai <br> > Kemudian klik tombol 'register' <br> > Pendaftaran sebagai member Kineria Gratis </p>
    </div>


    <div class="m-bot20">
        <h6 class="faq-title-font">Berapa biaya berlangganan di Kineria?</h6>
        <p>Kineria movie menawarkan paket berlangganan hemat</p>
    </div>
