<div class="m-bot20">
	<h6 class="faq-title-font">Bagaimana metode berlangganan yang diberlakukan ?</h6>
	<p>Fungsi dari berlangganan adalah cara bagi pengguna untuk menerima update bila terdapat film baru. Pelanggan dapat memilih film sesuai keinginan dan menerima pemberitahuan melalui email untuk setiap video baru di channel tersebut.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Apakah film yang saya beli dapat di download?</h6>
	<p>Film-film yang terdapat di Kineria tidak boleh diunduh(download), dikarenakan hal ini melanggar hak cipta, namun kami sangat senang bahwa kamu bisa menikmati konten dari website kami secara langsung. Kamu dipersilakan untuk menginformasikan film-film kami ke teman-teman kamu melalui tombol jejaring sosial yang sudah kami sediakan.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Bagaimana cara berhenti berlangganan paket?</h6>
	<p>Berhenti berlangganan paket terjadi secara otomatis setelah waktu aktif paket habis.</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Jika film yang sudah dipilih namun belum jadi ditonton, apakah bisa diganti dengan film lain?</h6>
	<p>Film yang sudah kamu pilih namun belum ditonton bisa diganti dengan film lain selama masih dalam masa berlaku paket, namun film yang sudah ditonton tidak dapat diganti dengan film lain. Kamu perlu ingat bahwa begitu kamu menekan tombol "Nonton" maka telah tercatat sebagai "sudah ditonton" .</p>
</div>
<div class="m-bot20">
	<h6 class="faq-title-font">Kenapa saya tidak bisa membeli film secara satuan? apa harus selalu melalui paket?</h6>
	<p>Paket yang kami berikan lebih murah dibandingkan kamu membeli film secara satuan. Kamu dapat menikmati berbagai film dengan harga yang terjangkau .</p>
</div>

