
    <div class="m-bot20">
        <h6 class="faq-title-font">Bagaimana langkah mengedit informasi akun saya?</h6>
        <p>Kamu dapat melakukan edit informasi akun kamu pada menu Akun Saya.</p>
    </div>
    <div class="m-bot20">
        <h6 class="faq-title-font">Bagaimana meng-upload atau mengubah gambar profil saya?</h6>
        <p>Silahkan masuk ke menu Akun Saya, lalu klik menu gambar profil untuk meng-upload atau mengubah gambar profil kamu.</p>
    </div>
    <div class="m-bot20">
        <h6 class="faq-title-font">Bagaimana jika saya lupa password?</h6>
        <p>Jika kamu lupa password, kamu dapat memiliki password baru dengan cara mengklik kalimat ‘forgot your password?’ pada bagian SignIn. Kemudian system kami akan me-reset password kamu, yang akan kami informasikan ke email kamu.</p>
    </div>

   